*, ::before, ::after {
    box-sizing: border-box;
}

* {
    font-family: 'Outfit', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

/* ---- Layout -------- */
body, 
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh; 
}

.main-container {
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
    text-align: center;
    height: 20.625rem;
    width: 13.75rem;
    padding: 0.625em;
    border-radius: 0.75em;
    box-shadow: 0.3125em 0.3125em 0.625em hsl(210, 6%, 82%);
}


img {
    display: block;
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
}

/* --------Typography --------- */
.first-p {
    font-weight: 700;
    font-size: 0.875rem; 
    margin: 1em 0.5em 0;
}
    
.second-p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 0.625rem;
    margin: 1em 0.7em;
}


